body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:173px;
  top:133px;
  width:327px;
  height:597px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:597px;
}
#u2 {
  position:absolute;
  left:2px;
  top:290px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:187px;
  top:195px;
  width:300px;
  height:473px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:473px;
}
#u4 {
  position:absolute;
  left:2px;
  top:228px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:337px;
  top:154px;
  width:13px;
  height:13px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:316px;
  top:177px;
  width:59px;
  height:7px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:7px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-4px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:299px;
  top:176px;
  width:8px;
  height:8px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:322px;
  top:677px;
  width:40px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:412px;
  top:130px;
  width:40px;
  height:3px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:3px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:170px;
  top:232px;
  width:3px;
  height:35px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:170px;
  top:277px;
  width:3px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:307px;
  width:3px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:224px;
  top:298px;
  width:30px;
  height:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:192px;
  top:196px;
  width:289px;
  height:44px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:44px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:201px;
  top:205px;
  width:5px;
  height:5px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:196px;
  top:205px;
  width:5px;
  height:5px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:216px;
  top:205px;
  width:5px;
  height:5px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:206px;
  top:205px;
  width:5px;
  height:5px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:211px;
  top:205px;
  width:5px;
  height:5px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:223px;
  top:197px;
  width:57px;
  height:19px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:317px;
  top:199px;
  width:58px;
  height:16px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:423px;
  top:200px;
  width:24px;
  height:16px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:450px;
  top:204px;
  width:22px;
  height:8px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:8px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:451px;
  top:206px;
  width:10px;
  height:4px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:471px;
  top:206px;
  width:3px;
  height:4px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:298px;
  top:215px;
  width:103px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:199px;
  top:224px;
  width:10px;
  height:7px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:7px;
}
#u50 {
  position:absolute;
  left:201px;
  top:226px;
  width:6px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:-11px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:4px;
  width:6px;
  height:2px;
}
#u51 {
  position:absolute;
  left:211px;
  top:250px;
  width:52px;
  height:16px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:248px;
  top:276px;
  width:40px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:248px;
  top:290px;
  width:213px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:196px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:213px;
  height:1px;
}
#u56 {
  position:absolute;
  left:224px;
  top:310px;
  width:244px;
  height:96px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:96px;
}
#u57 {
  position:absolute;
  left:2px;
  top:40px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:226px;
  top:321px;
  width:50px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:287px;
  top:329px;
  width:66px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:287px;
  top:367px;
  width:118px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:287px;
  top:384px;
  width:57px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:348px;
  top:384px;
  width:42px;
  height:18px;
  font-size:12px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:400px;
  top:384px;
  width:40px;
  height:18px;
  font-size:12px;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:332px;
  top:375px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  visibility:hidden;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:287px;
  top:349px;
  width:53px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:192px;
  top:625px;
  width:289px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:44px;
}
#u75 {
  position:absolute;
  left:2px;
  top:14px;
  width:285px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:510px;
  top:329px;
  width:196px;
  height:64px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:64px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
