body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:162px;
  width:390px;
  height:299px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:299px;
}
#u1 {
  position:absolute;
  left:2px;
  top:142px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:269px;
  top:250px;
  width:50px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:250px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:506px;
  top:250px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:310px;
  width:69px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:398px;
  top:310px;
  width:42px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:510px;
  top:310px;
  width:43px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:380px;
  top:460px;
  width:50px;
  height:50px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:210px;
  top:68px;
  width:181px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:260px;
  top:240px;
  width:69px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:380px;
  top:240px;
  width:70px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:210px;
  top:87px;
  width:571px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:210px;
  top:126px;
  width:207px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
