body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:173px;
  top:133px;
  width:327px;
  height:597px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:597px;
}
#u2 {
  position:absolute;
  left:2px;
  top:290px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:187px;
  top:195px;
  width:300px;
  height:473px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:473px;
}
#u4 {
  position:absolute;
  left:2px;
  top:228px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:337px;
  top:154px;
  width:13px;
  height:13px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:316px;
  top:177px;
  width:59px;
  height:7px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:7px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-4px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:299px;
  top:176px;
  width:8px;
  height:8px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:322px;
  top:677px;
  width:40px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:412px;
  top:130px;
  width:40px;
  height:3px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:3px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:170px;
  top:232px;
  width:3px;
  height:35px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:170px;
  top:277px;
  width:3px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:307px;
  width:3px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:192px;
  top:196px;
  width:289px;
  height:44px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:44px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:201px;
  top:205px;
  width:5px;
  height:5px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:196px;
  top:205px;
  width:5px;
  height:5px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:216px;
  top:205px;
  width:5px;
  height:5px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:206px;
  top:205px;
  width:5px;
  height:5px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:211px;
  top:205px;
  width:5px;
  height:5px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:223px;
  top:197px;
  width:57px;
  height:19px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:317px;
  top:199px;
  width:58px;
  height:16px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:423px;
  top:200px;
  width:24px;
  height:16px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:450px;
  top:204px;
  width:22px;
  height:8px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:8px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:451px;
  top:206px;
  width:10px;
  height:4px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:471px;
  top:206px;
  width:3px;
  height:4px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:312px;
  top:215px;
  width:69px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:203px;
  top:336px;
  width:52px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:192px;
  top:396px;
  width:289px;
  height:33px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:33px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:203px;
  top:404px;
  width:86px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:192px;
  top:428px;
  width:289px;
  height:32px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:32px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:203px;
  top:437px;
  width:86px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:205px;
  top:223px;
  width:10px;
  height:7px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:7px;
}
#u58 {
  position:absolute;
  left:207px;
  top:225px;
  width:6px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:-11px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:4px;
  width:6px;
  height:2px;
}
#u59 {
  position:absolute;
  left:431px;
  top:441px;
  width:27px;
  height:16px;
  color:#CCCCCC;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:192px;
  top:239px;
  width:289px;
  height:90px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:90px;
}
#u62 {
  position:absolute;
  left:2px;
  top:37px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:414px;
  top:300px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:192px;
  top:358px;
  width:289px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:272px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:289px;
  height:1px;
}
#u66 {
  position:absolute;
  left:203px;
  top:372px;
  width:52px;
  height:22px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:317px;
  top:300px;
  width:40px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:196px;
  top:215px;
  width:44px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:455px;
  top:441px;
  width:15px;
  height:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u72 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:458px;
  top:444px;
  width:10px;
  height:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:510px;
  top:268px;
  width:196px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:510px;
  top:441px;
  width:209px;
  height:32px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:510px;
  top:376px;
  width:80px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:511px;
  top:337px;
  width:209px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:510px;
  top:405px;
  width:157px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:447px;
  top:220px;
  width:27px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:510px;
  top:192px;
  width:248px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
